<div *ngIf="paginatedSeries.length > 0"
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 px-6 py-10 bg-gray-100">
  <div *ngFor="let show of paginatedSeries"
    class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-all duration-300 flex flex-col transform hover:scale-105 hover:z-20">
    <a [routerLink]="['/movie', show.id]">
      <img [src]="show.images.poster || 'assets/placeholder.png'" alt="{{ show.title }} poster"
        class="w-full h-56 object-cover">
    </a>
    <div class="p-4 flex flex-col justify-between flex-1">
      <h3 class="text-lg font-bold text-gray-900 mb-2">
        <a [routerLink]="['/movie', show.id]">
          {{ show.title }} ({{ show.creation }})
        </a>
      </h3>
      <p class="text-sm text-gray-700 mb-4">Saisons: {{ show.seasons }}, Épisodes: {{ show.episodes }}</p>
      <p class="text-sm text-gray-700 mb-4">Genres: {{ getGenres(show.genres) }}</p>
      <p class="text-sm text-gray-600 mb-4 line-clamp-3">{{ show.description }}</p>
      <!-- <button 
          (click)="addToWatchlist(serie)"
          class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg w-full transition-colors"
        > -->
      <button (click)="addShow(show.id)" class="p-1 w-8 z-30 border-black border rounded-full hover:bg-gray-300">
        +
      </button>
      <div *ngIf="show.platforms" class="mt-4">
        <h4 class="text-sm font-medium text-gray-800 mb-2">Plateformes :</h4>
        <div class="flex flex-wrap gap-2">
          <div *ngFor="let platform of show.platforms.svods"
            class="flex items-center space-x-2 bg-gray-100 p-2 rounded-lg">
            <img [src]="platform.logo" alt="{{ platform.name }} logo" class="w-6 h-6 object-contain">
            <a [href]="platform.link_url" target="_blank" class="text-blue-600 text-sm hover:underline">{{ platform.name
              }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-full flex justify-center gap-4 items-center my-8">
    <button (click)="previousPage()" [disabled]="currentPage === 1"
      class="px-4 py-2 border border-gray-300 bg-white text-gray-700 rounded-lg text-sm hover:bg-gray-50 disabled:opacity-50">Précédent</button>
    <span class="text-sm text-gray-600">Page {{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages"
      class="px-4 py-2 border border-gray-300 bg-white text-gray-700 rounded-lg text-sm hover:bg-gray-50 disabled:opacity-50">Suivant</button>
  </div>
</div>

<div *ngIf="series.length === 0" class="text-center text-gray-600 mt-8 text-lg">
  <p>Aucune série trouvée.</p>
</div>